@import url('https://rsms.me/inter/inter.css');
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  box-sizing: border-box;
}

html,
body,
#root,
main {
  width: 100%;
  margin: 0;
  padding: 0;
  height:100vh;

}
.home-bg{
  background: #3e4885;
}
.wagon-bg{
  background: #412f6c;
}
.candy-bg{
  background: #85643e;
}

body {
  /* cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0iI0U4QjA1OSIvPjwvc3ZnPg=='),
    auto; */
}

.canvas {
  order: 2;
  flex: 1;
  height: 90%;
}

.overlay {
  position: relative;
  order: 1;
  flex: 1;
}

@media only screen and (max-aspect-ratio: 16/9) {
  main {
    flex-direction: column;
  }
  .canvas {
    order: 2;
    max-width: 100%;
    height: 60vh;
  }
  svg {
    order: 1;
    max-width: 100%;
    max-height: 100%;
  }
}


h1 {
  position: absolute;
  top: 43px;
  left: 50%;
  padding: 0;
  margin: 40px;
  font-size: 4em;
  font-weight: 600;
  line-height: 0.7em;
  letter-spacing: -6px;
  color: #272730;
}

.picker {
  position: absolute !important;
  top: 74px;
  left: 75%;
  width: 90px !important;
  height: 90px !important;
}
.just{
  text-align: justify;
}
.scroll{
  height:100vh;
  overflow-y: scroll;
}
.menu-btn {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 20px !important;
}
@font-face {
  font-family: titre-font;
  src: url(./fonts/BaksoSapi.otf);
}
h2{
  font-family: titre-font, serif;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 45px;
  color: aliceblue;
  text-shadow: 1px 1px 9px black;
}
@font-face {
  font-family: texte-font;
  src: url(./fonts/Doctor_Soos_Light.ttf);
}
p{
  font-family: texte-font, serif;
  color: black;
  font-size: x-large;
}

.c-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.c-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
